body {
    align-items: left;
  background-image: url('https://cdn.discordapp.com/attachments/1335012484947513365/1345108931458109511/Picsart_25-02-28_21-01-24-741.jpg?ex=67c4ab50&is=67c359d0&hm=7ee0500dd7579bbdc2698378e39feaa58229e72b12c96ebd4e092b65fdaa4df4&');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
}